absl-py==1.2.0
accelerate==0.13.2
aiohttp==3.8.3
aiohttp-retry==2.8.3
aiosignal==1.2.0
alembic 
altair==4.2.0
amqp==5.1.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope 
argon2-cffi
argon2-cffi-bindings
asttokens 
astunparse
async-timeout==4.0.2
asyncio==3.4.3
asyncssh==2.12.0
atpublic==3.1.1
attrs
autopep8==1.7.0
backcall 
backports.functools-lru-cache
bayesian-optimization==1.2.0
bcrypt 
beautifulsoup4 
billiard==3.6.4.0
black==22.10.0
bleach
blinker
blis==0.7.9
boto3 
botocore
Brotli==1.0.9
brotlipy
cached-property
cachetools==5.2.0
catalogue==2.0.8
celery==5.2.7
certifi 
cffi 
chardet 
charset-normalizer 
chart-studio==1.1.0
click 
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle 
colorama 
commonmark==0.9.1
confection==0.0.3
configobj==5.0.6
configparser
contourpy 
cryptography
cycler 
cymem==2.0.7
dash==2.6.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2022.8.1
databricks-cli
dataclasses 
debugpy 
decorator 
defusedxml 
dictdiffer==0.9.0
discord==2.0.0
diskcache==5.4.0
distro==1.8.0
dnspython==2.2.1
docker==6.0.1
dpath==2.0.6
dulwich==0.20.50
dvc==2.33.1
dvc-data==0.25.2
dvc-http==2.27.2
dvc-objects==0.12.2
dvc-render==0.0.12
dvc-task==0.1.4
dvclive==0.12.1
entrypoints 
et-xmlfile==1.1.0
executing 
fastjsonschema
fastnumbers==3.2.1
filelock==3.8.0
Flask 
Flask-Compress==1.12
flatbuffers==1.12
flatten-dict==0.4.2
flit_core
flufl.lock==7.1.1
fonttools 
frozenlist==1.3.1
fsspec==2022.10.0
funcy==1.17
future 
gast==0.4.0
gitdb 
GitPython 
google-api-core==2.8.2
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==3.3.2
google-cloud-bigquery-storage==2.14.2
google-cloud-core==2.3.2
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grandalf==0.6
greenlet 
grpcio 
grpcio-status==1.47.0
gunicorn 
gym==0.25.1
gym-notices==0.0.8
h5py 
htmlmin==0.1.12
huggingface-hub==0.10.1
hydra-core==1.2.0
idna 
ImageHash 
imbalanced-learn==0.9.1
imblearn==0.0
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets
iterative-telemetry==0.0.5
itsdangerous 
jedi 
Jinja2 
jmespath
joblib 
jsonschema 
jupyter 
jupyter-console 
jupyter_client 
jupyter_core 
jupyterlab-pygments 
jupyterlab-widgets 
jupytext==1.14.1
kaggle==1.5.12
kaleido 
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver 
kombu==5.2.4
langcodes==3.3.0
libclang==14.0.6
llvmlite==0.39.1
locket==1.0.0
loguru==0.6.0
lxml 
Mako 
Markdown 
markdown-it-py==2.1.0
MarkupSafe
matplotlib 
matplotlib-inline 
mdit-py-plugins==0.3.0
mdurl==0.1.2
missingno==0.5.1
mistune 
mlflow 
mpmath==1.2.1
multidict 
multimethod==1.8
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==0.4.3
nanotime==0.5.2
nbclient 
nbconvert
nbformat 
nest-asyncio 
networkx 
notebook 
numba 
numpy 
oauthlib 
omegaconf==2.2.3
openai==0.24.0
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
packaging
pandas==1.5.1
pandas-datareader 
pandas-profiling 
pandas-stubs==1.5.1.221024
pandocfilters 
paramiko 
parso 
partd==1.3.0
pathspec==0.9.0
pathy==0.6.2
patsy 
pexpect
phik==0.12.2
pickleshare 
Pillow 
pkgutil_resolve_name 
platformdirs==2.5.2
plotly==5.10.0
preshed==3.0.8
prometheus-client 
prometheus-flask-exporter 
prompt-toolkit 
proplot==0.9.5
proto-plus==1.22.0
protobuf==3.19.6
psutil 
ptyprocess
pure-eval 
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser 
pydantic 
pydeck==0.7.1
pydot==1.4.2
pygit2==1.10.1
Pygments 
pygtrie==2.5.0
PyJWT 
pymongo==4.3.2
Pympler==1.0.1
PyNaCl 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
python-decouple==3.6
python-dotenv==0.21.0
python-slugify==6.1.2
pytidylib==0.3.2
pytz 
pytz-deprecation-shim==0.1.0.post0
PyWavelets 
PyYAML 
pyzmq 
querystring-parser==1.2.4
regex==2022.10.31
requests 
requests-oauthlib==1.3.1
retrying==1.3.3
rich==12.5.1
rsa==4.9
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s3transfer 
scikit-learn 
scipy==1.9.3
scmrepo==0.1.2
seaborn 
semver==2.13.0
Send2Trash 
shap 
shortuuid==1.0.9
shtab==1.5.7
six 
slicer 
smart-open==5.2.1
smmap==5.0.0
soupsieve 
spacy==3.4.2
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SQLAlchemy 
sqlparse 
srsly==2.4.5
stack-data 
statsmodels==0.13.2
streamlit==1.12.0
streamlit-aggrid==0.3.2
streamlit-pandas-profiling==0.1.3
sweetviz==2.1.4
sympy==1.11.1
tabulate 
tangled-up-in-unicode 
tenacity==8.0.1
tensorboard==2.9.1
tensorflow==2.10.0
# tensorboard-data-server==0.6.1
# tensorboard-plugin-wit==1.8.1
# tensorflow-estimator==2.9.0
# tensorflow-macos==2.9.2
# tensorflow-metal==0.5.1
# tensorflow-recommenders==0.3.0
termcolor==1.1.0
terminado 
testpath 
text-unidecode==1.3
tez==0.7.2
thinc==8.1.5
thop==0.1.1.post2209072238
threadpoolctl 
tokenizers==0.13.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
# toolz==0.12.0
# torch==1.14.0.dev20221102
# torchaudio==0.14.0.dev20221102
# torchvision==0.15.0.dev20221102
tornado 
tqdm 
traitlets 
transformers==4.24.0
typer==0.4.2
types-pytz==2022.5.0.0
typing_extensions 
tzdata==2022.2
tzlocal==4.2
unicodedata2 
urllib3 
validators==0.20.0
vine==5.0.0
visions 
voluptuous==0.13.1
wasabi==0.10.1
watchdog==2.1.9
wcwidth 
webencodings==0.5.1
websocket-client 
Werkzeug 
wget==3.2
widgetsnbextension 
wrapt==1.14.1
yarl==1.8.1
zc.lockfile==2.0
zipp 
